<!-- uswer stats -->
<div class="row  mt-4">
    <div class="col-md-4  col-sm-10 col-lg-4" >
        <div class="  shadow-lg p-1" id="total-ordered">
         <p class="display-6 text-white font-weight-bold text-capitalize text-center">total ordered</p>
         <hr>
         <p class="d-flex justify-content-center align-items-center">
            {{total_ordered}}
         </p>
        </div>
    </div> 

    <div class="col-md-4  col-sm-10 col-lg-4" >
        <div class="  shadow-lg p-1" id="total-delivered">
         <p class="display-6 text-white font-weight-bold text-capitalize text-center">total delivered</p>
         <hr>
         <p class="d-flex justify-content-center align-items-center">
          {{total_delivered}}
         </p>
        </div>
    </div> 


    <div class="col-md-4  col-sm-10 col-lg-4" >
        <div class="  shadow-lg p-1" id="total-pending">
         <p class="display-6 text-white font-weight-bold text-capitalize text-center">total pending</p>
         <hr>
         <p class="d-flex justify-content-center align-items-center">
             {{total_pending}}
         </p>
        </div>
    </div> 

</div> 